// fonts
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('../LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('../LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../LigatureSymbols/../LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.fp {font-family: Arial,Helvetica,sans-serif;} // font primary
.fh {font-family: 'Signika',sans-serif;} // font header
.fi {font-family: 'LigatureSymbols',sans-serif;} // font icon


// body
@bb: #fff; // body background

// colors
@blue: #413d9b;
@orange: #f58400;
@cp: #5c6354; // color primary
@cl: @orange; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 32px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;